@using Edukate.ViewModels.UserViewModels
@model RegisterVM

<div>
    <div asp-validation-summary="ModelOnly"></div>
<form method="post" asp-action="Register" asp-controller="Account">
    <div class="form-group">
        <label asp-for="Fullname" >Fullname</label>
        <input asp-for="Fullname"  class="form-control"  placeholder="Enter Fullname">
        <span asp-validation-for="Fullname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName">UserName</label>
        <input asp-for="UserName" class="form-control" placeholder="Enter UserName">
            <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Enter Email">
            <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" placeholder="Enter Password">
            <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">ConfirmPassword</label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Enter ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>